<%= stylesheet_link_tag 'homes' %>

<div class="top_page">
  <div class="top_img">
    <div class="shop_message">
      <h1>We know beauty<br>So get beautiful</h1>
      <h1 class="with">with us</h1>
    </div>
  </div>
  <div id="about" class="about_area area">
    <div class="container">
      <div class="title_area">
        <h2 class="each_title">About Us</h2>
      </div>
    </div>
  </div>
  <div class="menu_area area">
    <div class="container">
      <div class="title_area">
        <h2 class="each_title">Menu</h2>
      </div>
    </div>
  </div>
  <div class="reserve_area area">
    <div class="container">
      <div class="title_area">
        <h2 class="each_title">Reserve</h2>
      </div>
    </div>
  </div>
</div>
