// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// post_new
  .form_space{
    text-align: center;
  }

  // form
    .contents_form{
      margin: 30px 0;
    }

    .title_box{
      width: 400px;
      height: 40px;
    }

    .content_box{
      width: 400px;
      height: 100px;
    }

    .quotation_box{
      width: 400px;
      height: 40px;
    }

    .memo_box{
      width: 400px;
      height: 100px;
    }

    #post_category_id{
      width: 400px;
      height: 40px;
    }

    .submit-btn{
      width: 250px;
    }


// post_index
  // kiroku_index
    .kiroku_index{
      margin-top: 60px;
      text-align: center;
    }

    .kiroku_index table{
      text-align: center;
      margin: 30px 0;
      width: 100%;
      border-collapse: separate;
      border-spacing: 0px;
    }

    .kiroku_index table tr:nth-child(2n){
      background-color: #ededed;
    }

    .kiroku_index table th,table td{
      padding: 10px 0;
      text-align: center;
    }

    .show_kiroku_btn{
      text-align: center;
      margin: 30px 0;
    }


    @media (prefers-color-scheme: dark) {
      .kiroku_index table tr:nth-child(2n){
        background-color: var(--gray);
      }

    }

// post_show
  // info_space
    .info_space{
      padding-top: 100px;
    }

    .info_space div div p{
      font-size: 22px;
    }

    .info_space div .col-3{
      font-weight: bold;
    }

    .info_space div{
      margin: 5px 0;
    }

  // show_btn_space
    .show_btn_space{
      text-align: center;
      margin: 50px 0;
    }

    .show_btn_space div div a{
      width: 100px;
    }

    .back_btn{
      margin-top: 50px;
    }

    .back_btn a{
      text-align: center;
      width: 150px;
    }
